@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $blue;
  font-family: Verdana, sans-serif;
}

.header {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15%;
}

.glass {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  width: 280px;
  height: 280px;
  background: url('../assets/img/water-glass.svg') center center;

  &__count {
    font-style: normal;
    font-weight: bold;
    font-size: 112px;
    line-height: 131px;
    text-align: center;
    color: $black;
  }
}
